body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This makes the content container take up the full viewport height */
  position: relative; /* Added for absolute positioning of the recorded notice */
}

.recorded-notice {
  background-color: #ffeb3b;
  color: #000;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  width: 80%;
  position: absolute; /* Positioning the notice absolutely */
  top: 20px; /* Adjust the top position as needed */
}

.word {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* This ensures the word container takes up the available space */
}

.displayedWord {
  font-size: 2rem;
  text-align: center;
}

.btnsRec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  gap: 1rem;
}

.btnRec {
  width: 120px; /* Static width */
  height: 50px; /* Static height */
  font-size: 16px; /* Static font size */
  cursor: pointer;
  border: none;
  border-radius: 25px; /* Adjusted border radius */
  background: #d2d2d2;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btnRec:hover {
  background: #b9b9b9;
  color: white;
}

.btnRec:focus {
  outline: 3px solid #ffa500; /* Orange outline for focused button */
}

.audio-control {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  gap: 1rem; /* Ensure buttons are in a row with a gap */
}

/* Media query for screens less than or equal to 600px */
@media (max-width: 600px) {
  .btnsRec {
    flex-direction: column; /* Stack buttons and audio control vertically */
    bottom: 2rem;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    gap: 1rem; /* Adjust gap for column layout */
  }

  .buttons {
    flex-direction: row; /* First three buttons in a row */
    justify-content: space-around;
  }

  .btnRec {
    width: 110px; /* Static width for mobile */
    height: 50px; /* Static height for mobile */
    font-size: 16px; /* Static font size for mobile */
  }

  .audio-control {
    width: 100%;
    justify-content: center;
    margin-top: 1rem; /* Space between buttons and audio control */
  }
}
